<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">{{ title }}, Back-end</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a href="/admin/logout">Logout</a></li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#/">Dashboard</a></li>
      <li><a href="#/admin/leads">Leads</a></li>
      <li><a href="#/admin/analytics">Analytics</a></li>
      <li><a href="#/admin/users">Users</a></li>
      <li><a href="#/admin/clients">Clients</a></li>
    </ul>
  </section>
</nav>