<!DOCTYPE html>
{{#admin}}
<html ng-app="adminApp">
{{/admin}}
{{^admin}}
<html ng-app="myApp">
{{/admin}}
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/mainStyle.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
<body ng-controller="mainController">
  {{#admin}}
    {{> topnav_admin}}
  {{/admin}}
  {{^admin}}
    {{> topnav}}
  {{/admin}}
  <div class="row divide">
      <div ng-view></div>
    {{{ yield }}}  
  </div>
  
  {{#admin}}
    {{> script_auth}}
  {{/admin}}
  {{^admin}}
    {{> script_public}}
  {{/admin}}
  </body>
</html>

