  <div class="large-2 columns text-center">
  	<ul class="side-nav">
	  <li ng-click="dashboardSideNav('campigns')"  ng-class="getClass('campigns')">
	  	<a>Campigns</a>
	  </li>
	  <li class="divider"></li>
	  <li ng-click="dashboardSideNav('users')" ng-class="getClass('users')">
	  	<a>Users</a>
	  </li>
	  <li class="divider"></li>
	  <li ng-click="dashboardSideNav('customers')" ng-class="getClass('customers')">
	  	<a>Customers</a>
	  </li>
	  <li class="divider"></li>
	  <li ng-click="dashboardSideNav('history')" ng-class="getClass('history')">
	  	<a>History</a>
	  </li>
	</ul>
  </div>