	<div class="row">
		<table>
		<thead>
			<tr>
				<td>#</td>
				<td>name</td>
				<td>username</td>
				<td>email</td>
				<td>phone</td>
				<td>company</td>
				<td>type</td>
				<td></td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users">
				<td>{{$index + 1}}</td>
				<td>{{user.name}}<small ng-hide="user.name">NULL</small></td>
				<td>{{user.username}}</td>
				<td>{{user.email}}<small ng-hide="user.email">NULL</small></td>
				<td>{{user.phone}}<small ng-hide="user.phone">NULL</small></td>
				<td>{{user.company}}<small ng-hide="user.company">NULL</small></td>
				<td>{{user.type}}<small ng-hide="user.type">NULL</small></td>
				<td><button class="button tiny" ng-click="editUser()">Edit</button></td>
				<td><button class="button tiny" ng-click="deleteUser()">Del</button></td>
			</tr>
		</tbody>
		</table>
	</div>