<div class="row">
    <div class="small-12 medium-12 large-12 small-centered columns text-center">
        <h3>Home</h3>
        <hr/>
    </div>
</div>
<div class="row">
    <div class="small-10 medium-10 large-10 small-centered columns">
        <div class="panel radius">
            <h5>SpeedLeads</h5>

            <p>A cool analytics and a easy way to track your web site and campign performance with full detiled using statics</p>
            <ul>
                <li>Better ananlytic tools</li>
                <li>Know exactly how your campign perform in real time</li>
                <li>We help you to know what time is the best time for your campign</li>
                <li>Awesome bar charts and pie charts , easily showing your campign preformance</li>
                <li>Full support for you and your stuff <b>* according to the plan you chose *</b></li>
            </ul>
        </div>

        <div class="panel callout radius">
            <h5>Few examples</h5>

            <p>Our examples for the charts</p>
            <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
                <li><div id="piechart"></div></li>
                <li><div id="barchart"></div></li>
                <li><div id="chart"></div></li>
                <li><div id="chartdiv"></div></li>
                <li><div id="charts"></div></li>
                <li><div id="ch"></div></li>
            </ul>
        </div>
    </div>
</div>