<form name="signup-form" novalidate ng-submit="submitForm()">
  <fieldset>
    <legend>Signup</legend>
    <div class="row">
        <div class="large-4 columns">
    		<input type="text" ng-model="user.name" placeholder="Name" required/>
    	</div>
    	<div class="large-4 columns">
    		<input type="email" ng-model="user.email" placeholder="Email Address" required/>
    	</div>
    	<div class="large-4 columns">
    		<input type="text" ng-model="user.username" placeholder="Username" required/>
    	</div>
    	<div class="large-4 columns">
    		<input type="password" ng-model="user.password" placeholder="Password" required/>
    	</div>
    	<div class="large-4 columns">
    		<input type="password" ng-model="user.password_confirmation" placeholder="Password Confirmation" required/>
    	</div>
    	<div class="large-4 columns">
    		<input type="text" ng-model="user.company" placeholder="Company Name" required/>
    	</div>
    	<div class="large-4 columns">
   			<input type="text" ng-model="user.company_website" placeholder="Company Web Site" />
    	</div>
    	<div class="large-4 columns">
    		<input type="text" ng-model="user.cell_phone" placeholder="Cell Phone" required/>
    	</div>
    	<div class="large-4 columns">
    		<input type="text" ng-model="user.work_phone" placeholder="Work Phone" required/>
    	</div>
    <button type="submit" class="button radius">Submit</button>
    <a ng-click="resetForm()" class="button tiny round alert">Reset</a>
    </div>
  </fieldset>
</form>