<button class="button tiny" ng-click="createCampign()">Create a new campign</button>
	<form name="editCampignForm" novalidate>
		<select 
			ng-model="campignEdit"  
			ng-options="SingleCampign as displayCampignName(SingleCampign) for SingleCampign in AllCampigns">
			<option value="">-- choose campign --</option>
		</select>
		<button class="small button" ng-click="editCampign()">Edit</button>
		<button class="small button" ng-click="viewCampign()">View</button>
		<button class="small button" ng-click="analyzeCampign()">Analyze</button>
	</form>
<!-- show list of campigns -->
<!-- Sort by active, starting date, clients -->