<hr>
<form>
	<ul class="pricing-table">
	  <li class="title">New Campign</li>
	  <li class="bullet-item">
	  	<div class="row">
		   	<div class="large-3 columns">Campign Name:</div>
  			<div class="large-6 columns">
  				<input type="text" ng-model="campign.name" placeholder="Campign Name" />	
  			</div>
  			<div class="large-3 columns"></div>
		</div>
	  </li>
	  <li class="bullet-item">
	  	<div class="row">
		   	<div class="large-3 columns">Campign URL:</div>
  			<div class="large-6 columns">
  				<input type="text" ng-model="campign.url" placeholder="Campign URL" />	
  			</div>
  			<div class="large-3 columns"></div>
		</div>
	  </li>
	  <li class="bullet-item">
	  	<div class="row">
		   	<div class="large-3 columns">Assign Client to campign:</div>
  			<div class="large-6 columns">
  				<select ng-model="campign.clientId">
					<option ng-repeat="client in clients" value="{{client.id}}-{{client.name}}">{{client.name}}</option>
				</select>
  			</div>
  			<div class="large-3 columns"></div>
		</div>
	  </li>
	  <li class="bullet-item">
	  	<div class="row">
		   	<div class="large-3 columns">
		   		Campign Date:
		   	</div>
  			<div class="large-3 columns">
				<input type="text" ng-model="campign.startDate" placeholder="Campign Start date" />
  			</div>
  			<div class="large-3 columns">
  				<input type="text" ng-model="campign.endDate" placeholder="Campign End date" />
  			</div>
  			<div class="large-3 columns"></div>
		</div>
	  </li>
	  <li class="bullet-item">
	  	<div class="row">
		   	<div class="large-3 columns">Campign manager email:</div>
  			<div class="large-6 columns">
  				<input type="text" ng-model="campign.managerEmail" placeholder="Campign manager email address" />
  			</div>
  			<div class="large-3 columns"></div>
		</div>
	  </li>
	  <li class="bullet-item">
	  	<div class="row">
		   	<div class="large-3 columns">Campign email for reporting leads:</div>
  			<div class="large-6 columns">
  				<textarea ng-model="campign.emails" placeholder="enter email address seprated by a comma `,`"></textarea>
  			</div>
  			<div class="large-3 columns"></div>
		</div>
	  </li>
	  <li class="bullet-item">
	  	<div class="row">
		   	<div class="large-3 columns">Notes:</div>
  			<div class="large-6 columns">
  				<textarea ng-model="campign.note"></textarea>
  			</div>
  			<div class="large-3 columns"></div>
		</div>
	  </li>
	  <li class="cta-button"><button class="button tiny" ng-click="addCampign()">Add Campign</button></li>
	</ul>
</form>


