<h1>Campign Page</h1>
<div class="row">
	<div ng-switch on="createNew">
		<div ng-switch-default>
			<div ng-include="'admin_templates/campign/defualt.html'"></div>
		</div>
	    <div ng-switch-when="new">
	    	<div ng-include="'admin_templates/campign/new.html'"></div>
	    </div>
	    <div ng-switch-when="show">
	    	<div ng-include="'admin_templates/campign/show.html'"></div>
	    </div>
	    <div ng-switch-when="edit">
	    	<!-- Edit campign -->
	    	<div ng-include="'admin_templates/campign/edit.html'"></div>
	    </div>
	    <div ng-switch-when="block">
	    	<!-- User dont have permission to edit or view the campign -->
	    	<div ng-include="'admin_templates/campign/restrict.html'"></div>
	    </div>
	</div>
	<div ng-if="createNew != true">
		<button class="button tiny" ng-click="goBackMainCampign()">Back</button>
	</div>
</div>
