<h1>New Client</h1>
<form name="newClientForm" novalidate ng-submit="submitForm()">
  <fieldset>
    <legend><h3>Signup</h3></legend>
    <div class="columns text-center">
        <div class="row">
	        <div class="large-6 columns">
	    		<input 
	    		type="text" class="signup-input" 
	    		name="clientName" 
	    		ng-minlength="3" 
	    		ng-model="client.name" 
	    		placeholder="Client Name"
	    		ng-pattern="/^[a-zA-Z]*$/"
	    		required/>
	    	</div>
	    	<div class="large-6 columns">
	    		<input 
	    		class="signup-input"
	    		type="email" 
	    		name="email" 
	    		ng-model="user.email" 
	    		placeholder="Email Address" 
	    		required/>
	    		<small 
	    		ng-hide="signupForm.email.$valid" 
	    		class="error">Invalid email address, user@domain.com</small>
	    	</div>	
        </div>
        <div class="row">
	        <div class="large-6 columns">
	    		<input type="text" 
	    		class="signup-input"
	    		ng-model="user.username" 
	    		ng-minlength="6"
	    		placeholder="Username" 
	    		name="username" 
	    		required/>
	    		<small ng-show="signupForm.username.$error.required" class="error">
	    			Username is a required field, at least 6 characters 
	    		</small>
	    	</div>
	    	<div class="large-6 columns">
	    		<input type="text" 
	    		class="signup-input"
	    		ng-model="user.cell_phone" 
	    		placeholder="Cell Phone" 
	    		ng-minlength="8" 
	    		ng-pattern="/^[a-zA-Z]*$/" 
	    		name="cell" 
	    		required >
	    		<small ng-hide="signupForm.cell.$valid" class="warn">
	    			Please enter your cell phone that we can reach you.
	    		</small>
	    	</div>	
        </div>
        <div class="row">
        	<div class="large-6 columns">
	    		<input 
	    		class="signup-input"
	    		type="password" 
	    		ng-model="user.password" 
	    		placeholder="Password" 
	    		name="password" 
	    		ng-minlength="6" 
	    		required/>
	    		<small ng-show="signupForm.password.$error.required" class="error">
	    			Password is a required field, at least 6 characters 
	    		</small>
	    	</div>	
	        <div class="large-6 columns">
	    		<input 
	    		class="signup-input"
	    		type="password" 
	    		name="password_confirmation" 
	    		ng-model="user.password_confirmation" 
	    		ng-minlength="6" 
	    		placeholder="Password Confirmation" required/>
	    		<small 
	    		ng-show="signupForm.password_confirmation.$error.required" 
	    		class="error">
	    			Password is a required field, at least 6 characters 
	    		</small>
	    	</div>
        </div>
    	<div class="row">
    		<div class="large-6 columns">
	    		<input type="text"
	    		class="signup-input" 
	    		name="company" 
	    		ng-model="user.company" 
	    		ng-minlength="3" 
	    		ng-pattern="/^\d+$/" 
	    		placeholder="Company Name" />
	    		<small 
	    		ng-show="signupForm.company.$valid" 
	    		class="warn">
	    			Please enter your company name.
	    		</small>
	    	</div>	
    		<div class="large-6 columns">
   				<input type="text" 
   				class="signup-input"
   				ng-model="user.company_website" 
   				placeholder="Company Web Site" 
   				name="copmany_website" 
   				required/>
   				<small 
	    		ng-hide="signupForm.copmany_website.$valid" 
	    		class="warn">
	    			Please enter your company website.
	    		</small>
	    	</div>
    	</div>
    	<div class="row">
    		<div class="large-6 columns">
    			<input type="text" 
    			class="signup-input"
    			name="work_phone" 
    			ng-model="user.work_phone" 
    			ng-minlength="3" 
	    		ng-pattern="/^\d+$/"
	    		placeholder="Work Phone" />
    			<small 
	    		ng-show="signupForm.work_phone.$valid" 
	    		class="warn">
	    			Please enter your work phone.
	    		</small>
    		</div>	
    	</div>
    
	    <div class="row">
	    	<button type="submit" class="button radius">Submit</button>
	    	<a ng-click="resetForm()" class="button tiny round alert">Reset</a>
		</div>
	</div>
  </fieldset>
</form>